@model Player_mgt_system.Models.Trophy

@{
    ViewData["Title"] = "Edit";
}
<div class="card">
  <div class="card-header">
    Edit Trophy Details
  </div>
  <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.TrophyId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrophyId" />
            <div class="row">

            <div class="form-group col-md-6">
                <label asp-for="TrophyName" class="control-label"></label>
                <input asp-for="TrophyName" class="form-control" />
                <span asp-validation-for="TrophyName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 mt-2">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
            </div>

        </form>
    
  </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

