@using System.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Player_mgt_system.dto.LoginDto

@{
    ViewData["Title"] = "Login";
}

<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    width: 121%;
    margin-left: -117px;
    margin-top: -50px;
  }
  
  .show {
    display: block;
  }
  
  .hide {
      display: none;
    }
  
  
</style>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;height: 516px">
          <div class="card-body p-5 text-center">

            <form asp-action="Login">

              <div asp-validation-summary="ModelOnly" class="text-danger"></div>

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your Username and Password</p>
                <div class="@(null != TempData["hasError"] ? "show" : "hide" ) alert alert-danger">
                    <h6>@TempData["Message"]</h6>
                </div>
                <div class="form-group form-outline form-white mb-4">
                  <input asp-for="UserName" id="typeEmailX" class="form-control form-control-lg"/>
                  <label asp-for="UserName" class="control-label"></label>
                  <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group form-outline form-white mb-4">
                  <input asp-for="Password" id="typeEmailX" class="form-control form-control-lg"/>
                  <label asp-for="Password" class="form-label" for="typeEmailX"></label>
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <input type="submit" value="Login" class="btn btn-outline-light btn-lg px-5"/>
                </div>
                <div>
                  <p class="mb-2">Don't have an account? <a href="http://localhost:54565/Player/Create" class="text-white-50 fw-bold">Register As a Player</a>
                  </p>
                </div>
              </div>
            </form>

           

          </div>
        </div>
      </div>
    </div>
  </div>
  @Model
  @Html.Raw(HttpUtility.HtmlDecode((Html.ValidationSummary(false, "", new { @class = "exception" })).ToString()))
</section>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}