.table>thead {
    vertical-align: bottom;
    background-color: #009688 !important;
    color: #fefefe!important;
}
.body{
    background-color: rgba(17, 1, 1, 0.2);
}
.form-control{
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    border-radius: 0!important;
    margin-bottom: 6px!important;
}

.card-header {
    background-color: #00675b!important;
    color: #fefefe!important;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid #150e0e;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #00675b;
    color: white;
}