
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auction Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerMgtStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Player_mgt_system.styles.css" asp-append-version="true" />
    
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Auction MGT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1" id="menuSection">
                        <li class="nav-item" id="manageTeam">
                            <a class="nav-link text-white" asp-area="" asp-controller="Team" asp-action="Index" >Manage Teams</a>
                        </li>
                        <li class="nav-item" id="managePlayers">
                            <a class="nav-link text-white" asp-area="" asp-controller="Player" asp-action="Index" >Manage Players</a>
                        </li>
                        <li class="nav-item" id="manageTrophy">
                            <a class="nav-link text-white" asp-area="" asp-controller="Trophy" asp-action="Index" >Manage Trophy</a>
                        </li>
                        
                        <li class="nav-item" id="manageAuction">
                            <a class="nav-link text-white" asp-area="" asp-controller="Trophy" asp-action="Index" >Manage Auction</a>
                        </li>
                        <li class="nav-item" id="applyTrophy">
                            <a class="nav-link text-white" asp-area="" asp-controller="Playertrophy" asp-action="Index" >Apply for Trophy</a>
                        </li>
                        <li class="nav-item" id="reports">
                            <a class="nav-link text-white" asp-area="" asp-controller="Report" asp-action="Index" >Reports</a>
                        </li>
                        <li class="nav-item" id="logout" style="margin-left: 512px;cursor: pointer">
                            <a  class="nav-link text-white" ><i class="fa-sharp fa-solid fa-right-from-bracket"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/81cf753544.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.onload = function() {
            getUserData();
            if (window.location.href==="http://localhost:54565/"||window.location.href==="http://localhost:54565/login"||window.location.href==="http://localhost:54565/login/index"){
                document.getElementById("menuSection").style.display = "none";
            }else{
                document.getElementById("menuSection").style.display = "flex";
            }
          
          
        };
        function getUserData(){
             $.ajax({
                type: 'GET',
                url:  '@Url.Action("GetUserData", "Dashboard")',
                success: function (result) {
                    console.log(result);
                    sessionStorage.setItem("ROLE",result[0].role);
                    sessionStorage.setItem("USERNAME",result[0].username);
                    manageMenue(result[0].role);
                },
                error: function () {
                    console.log('Failed ');
                }
             });
             
             
        }
        function manageMenue(role){
            if (role==="USER_ADMIN"){
               document.getElementById("applyTrophy").style.display = "none";
            }else if (role==="USER_PLAYER"){
                document.getElementById("manageAuction").style.display = "none";
               
                document.getElementById("manageTrophy").style.display = "none";
                document.getElementById("managePlayers").style.display = "none";
                document.getElementById("manageTeam").style.display = "none";
                document.getElementById("reports").style.display = "none";
                       
            }else if (role==="USER_OWNER"){
                document.getElementById("applyTrophy").style.display = "none";
                 document.getElementById("applyTrophy").style.display = "none";
                document.getElementById("manageAuction").style.display = "none";
                document.getElementById("manageTrophy").style.display = "none";
                document.getElementById("manageTeam").style.display = "none";
                 document.getElementById("reports").style.display = "none";
            }
        }
        function logout() {
           $.ajax({
                          type: 'GET',
                          url:  '@Url.Action("", "Login")',
                          success: function (result) {
                              console.log(result);
                              sessionStorage.clear("ROLE");
                              sessionStorage.clear("USERNAME");
                          },
                          error: function () {
                              console.log('Failed ');
                          }
                       });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
